.slider {
  height: 90vh;
  overflow: hidden;
  
}
.mySwiper {
  background-image: url("../../images/slider-bg.jpg");
  background-position: center;
  background-size: cover;
  padding-top: 100px;
}
.slider-info {
  margin-top: -350px;
}
.slider-info h1 {
  line-height: 70px;
}
.slider-info h1 span{
  margin-bottom: 20px;
}
.common-btn,.submit-btn {
  text-transform: capitalize;
  padding: 12px 45px;
  font-weight: 700;
  margin-top: 10px;
  transition: all 0.3s;
  border: 1px solid #f7444e;
}
.submit-btn{
  border: none;
}
.submit-btn:hover{
  background-color: #f7444e;
}
.common-btn:hover {
  background-color: transparent;
  color: #f7444e;
}
